# Core Flask App
Flask
flask-cors

# Audio handling
sounddevice
pydub
librosa
numpy
scipy

# Audio file IO
wavefile

# TensorFlow + Keras
tensorflow

# ML/Preprocessing
scikit-learn

# For reproducibility and file ops
uuid

gunicorn
